* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/2831794/pexels-photo-2831794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    overflow: hidden;
}

.navbar {
    width: 100%;
    background: rgba(245, 237, 237, 0.5);
    padding: 10px 0;
    text-align: right;
    padding: left 7px;
    
    top: 0;
    left: 0;
}

.navbar a {
    color: white;
    text-decoration: underline;
    padding: 4px 30px;
    display: inline-block;


    font-size: 18px;
}

.navbar a:hover {
    background: rgba(235, 224, 224, 0.5);
    border-radius: 3px;
}

.login-container {
    background:transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow:   10px 30px rgba(241, 209, 209, 0.3);
    text-align: center;
    width: 350px;
    position: relative;
    animation: float 3s infinite ease-in-out;
    margin-top: 250px;
    margin-left: 50px;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.login-container h2 {
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font: weight 400px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(255, 254, 254);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #764ba2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: #7a46b9;
}

.links {
    margin-top: 20px;
    font-size: 14px;
    
}

.links a {
    color: #f9f7fa;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200px;
}

.links a:hover {
    text-decoration: underline;
}